.trails-main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: hidden;
  display: contents;
}

.trails-text {
  width: 25%;
  margin-top: .5em;
  margin-bottom: 1.5em;
  margin-left: 2em;
  font-size: 2rem;
  font-family: "Roboto Mono";
  text-transform: uppercase;
  color: #92a1ab;
}

.trails-text:hover {
  color: #374952;

}

a {
  color: #92a1ab;
  text-decoration: none;
}

a:hover {
  color: #374952;

}